{{- if .Values.ssl.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "ignite.fullname" . }}-ssl
  labels:
    {{- include "ignite.labels" . | nindent 4 }}
  {{- with (include "ignite.annotations" .) }}
  annotations:
    {{- . | nindent 4 }}
  {{- end }}
type: Opaque
data:
  ignite-ssl-ks-pass: {{ .Values.ssl.keyStorePassword | b64enc | quote }}
  ignite-ssl-ts-pass: {{ .Values.ssl.trustStorePassword | b64enc | quote }}
{{- end }}
