{{- if and .Values.authentication.enabled .Values.authentication.igniteUserPassword }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "ignite.fullname" . }}-auth
  labels:
    {{- include "ignite.labels" . | nindent 4 }}
  {{- with (include "ignite.annotations" .) }}
  annotations:
    {{- . | nindent 4 }}
  {{- end }}
type: Opaque
data:
  ignite-user-password: {{ .Values.authentication.igniteUserPassword | b64enc | quote }}
{{- end }}
