apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "aspnetcore-ignite-server.fullname" . }}-cluster
  labels:
    {{- include "aspnetcore-ignite-server.labels" . | nindent 4 }}
  {{- with (include "aspnetcore-ignite-server.annotations" .) }}
  annotations:
    {{- . | nindent 4 }}
  {{- end }}
spec:
  selector:
    matchLabels:
      {{- include "aspnetcore-ignite-server.selectorLabels" . | nindent 6 }}
  serviceName: {{ include "aspnetcore-ignite-server.fullname" . }}-svc-headless
  replicas: {{ .Values.replicaCount }}
  {{- if .Values.podManagementPolicy }}
  podManagementPolicy: {{ .Values.podManagementPolicy }}
  {{- end }}
  {{- if .Values.revisionHistoryLimit }}
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  {{- end }}
  {{- if .Values.updateStrategy }}
  updateStrategy:
    type: {{ .Values.updateStrategy.type }}
    {{- if .Values.updateStrategy.rollingUpdate }}
    rollingUpdate: {{- toYaml .Values.updateStrategy.rollingUpdate | nindent 6 }}
    {{- end }}
  {{- end }}
  template:
    metadata:
      labels:
        {{- include "aspnetcore-ignite-server.podLabels" . | nindent 8 }}
      {{- with (include "aspnetcore-ignite-server.podAnnotations" .) }}
      annotations:
        {{- . | nindent 8 }}
      {{- end }}
    spec:
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
      serviceAccountName: {{ include "aspnetcore-ignite-server.serviceAccountName" . }}
      {{- with .Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.podSecurityContext.enabled }}
      securityContext:
        {{- toYaml (omit .Values.podSecurityContext "enabled") | nindent 8 }}
      {{- end }}
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName | quote }}
      {{- end }}
      {{- if .Values.extraInitContainers }}
      initContainers:
        {{- toYaml .Values.extraInitContainers | nindent 8 }}
      {{- end }}
      containers:
        {{- if .Values.extraContainers }}
        {{- toYaml .Values.extraContainers | nindent 8 }}
        {{- end }}
        - name: ignite-node
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
            # Must be specified to ensure that Ignite cluster replicas are visible to each other.
            - name: DEFAULT_CONSISTENT_ID
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: K8S_NAMESPACE
              value: "{{ .Release.Namespace }}"
            - name: K8S_SERVICE_NAME
              value: "{{ include "aspnetcore-ignite-server.fullname" . }}-svc-headless"
            - name: USE_TCP_DISCOVERY_STATIC_IP_FINDER
              value: 'false'
            - name: IGNITE_USER_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "aspnetcore-ignite-server.fullname" . }}
                  key: ignite-user-password
            - name: SSL_KEY_STORE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "aspnetcore-ignite-server.fullname" . }}
                  key: ssl-key-store-password
            - name: SSL_TRUST_STORE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "aspnetcore-ignite-server.fullname" . }}
                  key: ssl-trust-store-password
            - name: SSL_CLIENT_CERTIFICATE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "aspnetcore-ignite-server.fullname" . }}
                  key: ssl-client-certificate-password
            {{- range $name, $value := .Values.env }}
            - name: "{{ $name }}"
              value: "{{ $value }}"
            {{- end }}
            {{- if .Values.extraEnvVars }}
            {{- toYaml .Values.extraEnvVars | nindent 12 }}
            {{- end }}
          {{- if or .Values.extraEnvFrom .Values.extraEnvVarsCM .Values.extraEnvVarsSecret }}
          envFrom:
            {{- if .Values.extraEnvFrom }}
            {{- toYaml .Values.extraEnvFrom | nindent 12 }}
            {{- end }}
            {{- if .Values.extraEnvVarsCM }}
            - configMapRef:
                name: {{ .Values.extraEnvVarsCM }}
            {{- end }}
            {{- if .Values.extraEnvVarsSecret }}
            - secretRef:
                name: {{ .Values.extraEnvVarsSecret }}
            {{- end }}
          {{- end }}
          image: {{ include "aspnetcore-ignite-server.image" . }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- if .Values.containerSecurityContext.enabled }}
          securityContext:
            {{- toYaml (omit .Values.containerSecurityContext "enabled") | nindent 12 }}
          {{- end }}
          ports:
            - name: jdbc
              containerPort: {{ .Values.container.ports.jdbc }}
              protocol: TCP
            - name: spi-comm
              containerPort: {{ .Values.container.ports.spiCommunication }}
              protocol: TCP
            - name: spi-discovery
              containerPort: {{ .Values.container.ports.spiDiscovery }}
              protocol: TCP
            - name: jmx
              containerPort: {{ .Values.container.ports.jmx }}
              protocol: TCP
            - name: sql
              containerPort: {{ .Values.container.ports.sql }}
              protocol: TCP
            - name: http
              containerPort: {{ .Values.container.ports.rest }}
              protocol: TCP
            - name: thin
              containerPort: {{ .Values.container.ports.thinClients }}
              protocol: TCP
          {{- if .Values.startupProbe.enabled }}
          startupProbe: {{- include "common.tplvalues.render" (dict "value" (omit .Values.startupProbe "enabled") "context" $) | nindent 12 }}
          {{- end }}
          {{- if .Values.livenessProbe.enabled }}
          livenessProbe: {{- include "common.tplvalues.render" (dict "value" (omit .Values.livenessProbe "enabled") "context" $) | nindent 12 }}
          {{- end }}
          {{- if .Values.readinessProbe.enabled }}
          readinessProbe: {{- include "common.tplvalues.render" (dict "value" (omit .Values.readinessProbe "enabled") "context" $) | nindent 12 }}
          {{- end }}
          {{- if .Values.lifecycleHooks }}
          lifecycle: {{- include "common.tplvalues.render" (dict "value" .Values.lifecycleHooks "context" $) | nindent 12 }}
          {{- end }}
          {{- if or .Values.persistence.enabled .Values.extraVolumeMounts }}
          volumeMounts:
            {{- if .Values.persistence.enabled }}
            - mountPath: /app/work
              name: persistence
            {{- end }}
            {{- if .Values.extraVolumeMounts }}
            {{- toYaml .Values.extraVolumeMounts | nindent 12 }}
            {{- end }}
          {{- end }}
      {{- with .Values.extraVolumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
  {{- if .Values.persistence.enabled }}
  volumeClaimTemplates:
    - metadata:
        name: persistence
        {{- if .Values.persistence.labels }}
        labels:
          {{- toYaml .Values.persistence.labels | nindent 10 }}
        {{- end }}
        {{- if .Values.persistence.annotations }}
        annotations:
          {{- toYaml .Values.persistence.annotations | nindent 10 }}
        {{- end }}
      spec:
        accessModes:
          {{- toYaml .Values.persistence.accessModes | nindent 10 }}
        {{- if .Values.persistence.storageClass }}
        storageClassName: {{ .Values.persistence.storageClass }}
        {{- end }}
        resources:
          requests:
            storage: {{ .Values.persistence.size }}
  {{- if .Values.persistence.persistentVolumeClaimRetentionPolicy.enabled }}
  persistentVolumeClaimRetentionPolicy:
    whenDeleted: {{ .Values.persistence.persistentVolumeClaimRetentionPolicy.whenDeleted }}
    whenScaled: {{ .Values.persistence.persistentVolumeClaimRetentionPolicy.whenScaled }}
  {{- end }}
  {{- end }}
